/* 
    Document   : ggnr
    Created on : 2013-2-16, 11:23:55
    Author     : evance
    Description:
        Purpose of the stylesheet follows.
*/
.nr{
    line-height: 25px;
    width:665px;
    height:auto;
    font-size:16px;

  
 
}
.nr1{
   width: 661px;
   
    
 
}

